app.*.map.json
app.*.symbols
migrate_working_dir/
**/doc/api/
**/ios/Flutter/.last_build_id
*.class
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
.atom/
.buildlog/
.dart_tool/
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.history
.idea/
.packages
.pub-cache/
.pub/
.svn/
/android/app/debug
/android/app/profile
/android/app/release
/build/